[submodule "lib/websocketpp"]
	path = lib/websocketpp
	url = https://github.com/Henk7/websocketpp.git
[submodule "lib/rapidjson"]
	path = lib/rapidjson
	url = https://github.com/miloyip/rapidjson.git
